﻿
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Default/Index/" aria-expanded="false">
                    <i class="fa fa-arrow-circle-o-right"></i><span class="nav-text">Go to the Site</span>
                </a>
            </li>
            <li>
                <a href="/Dashboard/Index/" aria-expanded="false">
                    <i class="fa fa-dashboard"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="fa fa-group"></i><span class="nav-text">Staff</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">References</span>
                </a>
            </li>
            <li>
                <a href="/Service/Index/" aria-expanded="false">
                    <i class="icon-clock menu-icon"></i><span class="nav-text">Services</span>
                </a>
            </li>
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="icon-info menu-icon"></i><span class="nav-text">About</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Rooms</span>
                </a>
            </li>
            <li>
                <a href="/Guest/Index/" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Guests</span>
                </a>
            </li>
            <li>
                <a href="/AdminContact/Inbox/" aria-expanded="false">
                    <i class="fa fa-inbox"></i><span class="nav-text">Messages</span>
                </a>
            </li>
            <li>
                <a href="/AdminMail/Index/" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">Mail</span>
                </a>
            </li>
            <li>
                <a href="/AdminImageFile/Index/" aria-expanded="false">
                    <i class="icon-picture menu-icon"></i><span class="nav-text">Upload Image</span>
                </a>
            </li>
            <li>
                <a href="/AdminTextFile/Index/" aria-expanded="false">
                    <i class="fa fa-file"></i><span class="nav-text">Upload Text File</span>
                </a>
            </li>
            <li>
                <a href="/AdminUser/Index/" aria-expanded="false">
                    <i class="icon-user-follow menu-icon"></i><span class="nav-text">Users</span>
                </a>
            </li>
            <li>
                <a href="/WorkLocation/Index/" aria-expanded="false">
                    <i class="fa fa-map-marker"></i><span class="nav-text">Hotel Locations</span>
                </a>
            </li>
            <li>
                <a href="/Roles/Index/" aria-expanded="false">
                    <i class="icon-game-controller menu-icon"></i><span class="nav-text">Roles</span>
                </a>
            </li>
            <li>
                <a href="/Settings/Index/" aria-expanded="false">
                    <i class="fa fa-gears"></i><span class="nav-text">Settings</span>
                </a>
            </li>
            <li>
                <a href="/Logout/Index/" aria-expanded="false">
                    <i class="fa fa-sign-out"></i><span class="nav-text">Log out</span>
                </a>
            </li>
        </ul>
    </div>
</div>
